In [2]:
import pandas as pd
from pytrends.request import TrendReq
import numpy as np

In [53]:

def tends(keyw, fechaIni = '2019-10-01', fechaFin = '2020-10-01'):
    user_timeframe=fechaIni+' '+fechaFin
    user_cat=7
    #'Finance'
    pytrend = TrendReq(hl='es-PE', tz=360)
    
    pytrend.build_payload(
         kw_list=keyw,
         cat=0,
         timeframe=user_timeframe,
         geo='MX',
         gprop='')
     
    data = pytrend.interest_over_time()
    data= data.drop(labels=['isPartial'],axis='columns').reset_index()
    
    return data

In [54]:
def maxTendencia(wordsTot):
    keywords = wordsTot

    listWord=[]
    for i in keywords:
        listWord.append(i)
        # print(f'listword: {listWord}')
        data0 =tends(keyw=listWord)
        df0 =pd.DataFrame(data0[listWord].max()==100,columns=['bool']).reset_index()
        varMax=list(df0['index'][df0['bool']==True])
        if i==varMax[0]: listWord=varMax
        else: listWord.remove(i)
        # print(listword)
    # print(listWord)
    return listWord, data0

In [55]:
def obtenerTendencia(listWord, keywords):
    key0 = listWord
    #dataf = data0[['date']]
    dataf = pd.DataFrame()
    for i in keywords:
        if i!=key0[0]: 
            key0.append(i)
            print(key0)
            data1 = tends(key0)

            if not dataf.empty:
                listVarSel=list(set(data1.columns) - set(dataf['variable'].unique()))
                data1 = data1[listVarSel]

            colmelt=list(set(data1.columns)-{'date'})
            dataf = dataf.append(data1.melt(id_vars='date', value_vars=colmelt, value_name='valor'))

            #dataf = dataf.drop_duplicates()
            #data1 = data1[[i]]
            #dataf = pd.concat([dataf,data1],axis=1)
            key0.remove(i)

    return dataf

In [78]:

def banc(x):
    ba=""
    if 'santander' in x: ba='SANTANDER PR'
    elif 'bbva' in x or 'bancomer' in x: ba='BANCOMER'
    elif 'banorte' in x: ba='BANORTE'
    elif 'hsbc' in x: ba='HSBC PR'
    elif 'banamex' in x or 'citi' in x: ba='BANAMEX'
    else: ba='OTRO'

    return ba

def codBase(dataf, etiqueta):

    #colsDataf = list(set(dataf.columns)-{'date'})
    #dataf2 = dataf.melt(id_vars='date',value_vars=colsDataf,value_name='valor')

    #dataf2.loc[dataf2['variable'].str.contains('santander'),'banco']='SANTANDER PR'

    # dataf['banco'] = dataf['variable'].map(banc)
    dataf['sector'] = dataf['variable']
    
    dataf3 = dataf.groupby(['sector','date']).agg(sm=('valor','sum')).reset_index()
    dataf3['fh_corte'] = pd.to_datetime(dataf3['date'].dt.strftime('%Y-%m-'+'01'),format='%Y-%m-%d')
    
    dataf4 = dataf3.groupby(['sector']).agg(mn=('sm','mean')).reset_index()
    dataf4['tendencia'] = dataf4['mn']/dataf4['mn'].max()
    #dataf4['tendencia'] = dataf4['mn']/dataf4.groupby('fh_corte').mn.transform(np.sum)
    
    dataf4['etiqueta'] = etiqueta
    
    return dataf4

In [57]:
# Consumo

bancos = ['bancomer','bbva','bbva bancomer','santander','banamex','citibanamex', 'citi', 'banorte','hsbc',
          'scotiabank','banco azteca','bancoppel'
         ]

words=['prestamo en bancomer','prestamo bancomer', 'prestamos bancomer','bancomer prestamo nomina','prestamo personal bancomer', 
       'bancomer prestamo de nomina', 'bancomer prestamo personal', 'solicitar prestamo bancomer', 'bancomer prestamo']
wordsTotConsumo = []
for i in bancos:
    for j in words:
        wordsTotConsumo.append(j.replace('bancomer',i))
        
        
#Tarjetas tdc

words=['bancomer solicitar tarjeta de credito','bancomer tarjeta de credito','solicitar tarjeta de credito bancomer','solicitud tarjeta de credito bancomer',
'tarjeta bancomer','tarjeta de credito bancomer','tarjeta de crédito bancomer','tarjeta de credito bancomer sin anualidad','tarjetas bancomer',
'tarjetas de credito bancomer','tramitar tarjeta de credito bancomer','bancomer tarjeta de crédito','tdc bancomer','bancomer tdc']
wordsTotTdc = []
for i in bancos:
    for j in words:
        wordsTotTdc.append(j.replace('bancomer',i))       

#nómina

words=['bancomer nomina','bancomer nómina','bancomer portabilidad de nomina','portabilidad de nómina bancomer','portabilidad de nomina bancomer','bancomer portabilidad de nómina','bancomer portabilidad nomina','bancomer portabilidad nómina',
      'bancomer cambio de nómina','cambio de nómina bancomer','cambio nómina bancomer']
wordsTotNom = []
for i in bancos:
    for j in words:
        wordsTotNom.append(j.replace('bancomer',i)) 
    
#vista

words=['cuenta bancomer','cuenta de ahorro bancomer','bancomer cuenta de ahorro','cuenta ahorro bancomer',
       'cuenta débito bancomer','cuenta debito bancomer','bancomer cuenta debito','cuenta de debito bancomer',
      'bancomer cuenta depósito','bancomer cuenta deposito','cuenta deposito bancomer','cuenta depósito bancomer','cuenta de deposito bancomer',
       'cuenta de depósito bancomer']
wordsTotVist = []
for i in bancos:
    for j in words:
        wordsTotVist.append(j.replace('bancomer',i))

In [58]:
# ruta='/Users/mb66483/Documents/'
# fechaIni='2017-01-01'
# fechaFin='2020-10-01'
# wordsTot = 'wordsTotVist'
#wordsTotConsumo #wordsTotTdc #wordsTotNom #wordsTotVist

# if wordsTot=='wordsTotConsumo': 
#     wordVec = wordsTotConsumo
#     etiqueta='goog_tend_consumo'
# elif wordsTot=='wordsTotTdc': 
#     wordVec = wordsTotTdc
#     etiqueta='goog_tend_tdc'
# elif wordsTot=='wordsTotNom': 
#     wordVec = wordsTotNom
#     etiqueta='goog_tend_nom'
# elif wordsTot=='wordsTotVist': 
#     wordVec = wordsTotVist
#     etiqueta='goog_tend_vista'

wordVec = ['COMERCIALIZADORAS',
 'CONSULTORIAS Y SERVICIOS',
 'CONSTRUCTORAS',
 'TRANSPORTE',
 'METALMECANICA',
 'AGROINDUSTRIA Y GANADERIA',
 'INMOBILIARIAS',
 'TURISMO',
 'OTROS SERVICIOS',
 'HIDROCARBUROS',
 'INFORMATICA',
 'VEHICULOS',
 'TEXTILES',
 'MINERIA',
 'INDUSTRIA ALIMENTARIA',
 'EDUCACION',
 'CAUCHO Y PLASTICO',
 'TELECOMUNICACIONES',
 'PESCA',
 'SALUD',
 'ALQUILERES DE MAQUINARIAS',
 'INTERMEDIACION FINANCIERA',
 'ESPARCIMIENTO',
 'AUTOMOTRIZ',
 'ABOGADOS',
 'QUIMICAS',
 'IMPRESION',
 'MINERALES NO METALICOS',
 'FORESTAL Y SILVICULTURA',
 'ORGANIZACIONES',
 'ENERGIA Y AGUA',
 'EDITORIALES',
 'ADMINISTRACION PUBLICA',
 'CURTIDURIA',
 'PAPEL',
 'CORREOS',
 'RECICLAJE',
 'LABORATORIOS',
 'INVESTIGACION Y DESARROLLO',
 'BEBIDAS',
 'VETERINARIAS']

listWord, data0= maxTendencia(wordVec)
print(f'listword  {listword}')
print(f'data {data0}')

listword  ['Tecnologia']
data          date  SALUD  VETERINARIAS
0  2019-10-06     71             1
1  2019-10-13     68             1
2  2019-10-20     63             1
3  2019-10-27     54             1
4  2019-11-03     60             1
5  2019-11-10     56             1
6  2019-11-17     53             1
7  2019-11-24     51             1
8  2019-12-01     48             1
9  2019-12-08     44             1
10 2019-12-15     35             1
11 2019-12-22     28             2
12 2019-12-29     33             1
13 2020-01-05     47             1
14 2020-01-12     63             1
15 2020-01-19     57             1
16 2020-01-26     59             1
17 2020-02-02     61             1
18 2020-02-09     60             1
19 2020-02-16     60             1
20 2020-02-23     62             1
21 2020-03-01     60             1
22 2020-03-08     65             1
23 2020-03-15     91             1
24 2020-03-22     88             1
25 2020-03-29     91             1
26 2020-04-05     72             2
27 2020-04-12     70             1
28 2020-04-19     78             1
29 2020-04-26     69             1
30 2020-05-03     67             1
31 2020-05-10     69             1
32 2020-05-17     73             2
33 2020-05-24     74             2
34 2020-05-31     73             1
35 2020-06-07     71             1
36 2020-06-14     66             1
37 2020-06-21     62             1
38 2020-06-28     64             1
39 2020-07-05     69             2
40 2020-07-12     70             1
41 2020-07-19     75             2
42 2020-07-26     79             1
43 2020-08-02     70             2
44 2020-08-09     74             2
45 2020-08-16     69             1
46 2020-08-23     79             1
47 2020-08-30     84             1
48 2020-09-06     85             1
49 2020-09-13     80             1
50 2020-09-20     92             1
51 2020-09-27    100             1

In [67]:
datafl = obtenerTendencia(listWord,wordVec)

['SALUD', 'COMERCIALIZADORAS']
['SALUD', 'CONSULTORIAS Y SERVICIOS']
['SALUD', 'CONSTRUCTORAS']
['SALUD', 'TRANSPORTE']
['SALUD', 'METALMECANICA']
['SALUD', 'AGROINDUSTRIA Y GANADERIA']
['SALUD', 'INMOBILIARIAS']
['SALUD', 'TURISMO']
['SALUD', 'OTROS SERVICIOS']
['SALUD', 'HIDROCARBUROS']
['SALUD', 'INFORMATICA']
['SALUD', 'VEHICULOS']
['SALUD', 'TEXTILES']
['SALUD', 'MINERIA']
['SALUD', 'INDUSTRIA ALIMENTARIA']
['SALUD', 'EDUCACION']
['SALUD', 'CAUCHO Y PLASTICO']
['SALUD', 'TELECOMUNICACIONES']
['SALUD', 'PESCA']
['SALUD', 'ALQUILERES DE MAQUINARIAS']
['SALUD', 'INTERMEDIACION FINANCIERA']
['SALUD', 'ESPARCIMIENTO']
['SALUD', 'AUTOMOTRIZ']
['SALUD', 'ABOGADOS']
['SALUD', 'QUIMICAS']
['SALUD', 'IMPRESION']
['SALUD', 'MINERALES NO METALICOS']
['SALUD', 'FORESTAL Y SILVICULTURA']
['SALUD', 'ORGANIZACIONES']
['SALUD', 'ENERGIA Y AGUA']
['SALUD', 'EDITORIALES']
['SALUD', 'ADMINISTRACION PUBLICA']
['SALUD', 'CURTIDURIA']
['SALUD', 'PAPEL']
['SALUD', 'CORREOS']
['SALUD', 'RECICLAJE']
['SALUD', 'LABORATORIOS']
['SALUD', 'INVESTIGACION Y DESARROLLO']
['SALUD', 'BEBIDAS']
['SALUD', 'VETERINARIAS']

In [74]:
datafl.sample(20)

         date                   variable  valor
43 2020-08-02                 CURTIDURIA      0
36 2020-06-14     ADMINISTRACION PUBLICA      1
28 2020-04-19                   QUIMICAS      5
51 2020-09-27              CONSTRUCTORAS      0
5  2019-11-10  INTERMEDIACION FINANCIERA      0
48 2020-09-06          CAUCHO Y PLASTICO      0
22 2020-03-08         TELECOMUNICACIONES      1
6  2019-11-17          CAUCHO Y PLASTICO      0
22 2020-03-08                EDITORIALES      0
25 2020-03-29               VETERINARIAS      1
31 2020-05-10  INTERMEDIACION FINANCIERA      0
12 2019-12-29  AGROINDUSTRIA Y GANADERIA      0
35 2020-06-07                  VEHICULOS      3
20 2020-02-23      INDUSTRIA ALIMENTARIA      0
45 2020-08-16     ADMINISTRACION PUBLICA      1
12 2019-12-29              ESPARCIMIENTO      0
32 2020-05-17     ADMINISTRACION PUBLICA      1
14 2020-01-12               LABORATORIOS     12
28 2020-04-19                   TEXTILES      1
30 2020-05-03                    TURISMO     13

In [79]:
data4 = codBase(datafl,'sector_economico')

In [80]:
data4

                        sector         mn  tendencia          etiqueta
0                     ABOGADOS   3.173077   0.047660  sector_economico
1       ADMINISTRACION PUBLICA   1.019231   0.015309  sector_economico
2    AGROINDUSTRIA Y GANADERIA   0.000000   0.000000  sector_economico
3    ALQUILERES DE MAQUINARIAS   0.000000   0.000000  sector_economico
4                   AUTOMOTRIZ   8.788462   0.132005  sector_economico
5                      BEBIDAS   6.480769   0.097343  sector_economico
6            CAUCHO Y PLASTICO   0.000000   0.000000  sector_economico
7            COMERCIALIZADORAS   0.000000   0.000000  sector_economico
8                CONSTRUCTORAS   0.788462   0.011843  sector_economico
9     CONSULTORIAS Y SERVICIOS   0.000000   0.000000  sector_economico
10                     CORREOS  16.288462   0.244656  sector_economico
11                  CURTIDURIA   0.000000   0.000000  sector_economico
12                 EDITORIALES   0.038462   0.000578  sector_economico
13                   EDUCACION  27.173077   0.408146  sector_economico
14              ENERGIA Y AGUA   0.076923   0.001155  sector_economico
15               ESPARCIMIENTO   0.076923   0.001155  sector_economico
16     FORESTAL Y SILVICULTURA   0.000000   0.000000  sector_economico
17               HIDROCARBUROS   1.500000   0.022530  sector_economico
18                   IMPRESION   4.153846   0.062392  sector_economico
19       INDUSTRIA ALIMENTARIA   0.115385   0.001733  sector_economico
20                 INFORMATICA   5.250000   0.078856  sector_economico
21               INMOBILIARIAS   0.961538   0.014443  sector_economico
22   INTERMEDIACION FINANCIERA   0.000000   0.000000  sector_economico
23  INVESTIGACION Y DESARROLLO   0.000000   0.000000  sector_economico
24                LABORATORIOS  12.500000   0.187753  sector_economico
25               METALMECANICA   0.000000   0.000000  sector_economico
26      MINERALES NO METALICOS   0.057692   0.000867  sector_economico
27                     MINERIA   1.673077   0.025130  sector_economico
28              ORGANIZACIONES   3.153846   0.047371  sector_economico
29             OTROS SERVICIOS   0.019231   0.000289  sector_economico
30                       PAPEL  43.461538   0.652802  sector_economico
31                       PESCA   3.057692   0.045927  sector_economico
32                    QUIMICAS   4.038462   0.060659  sector_economico
33                   RECICLAJE   2.750000   0.041306  sector_economico
34                       SALUD  66.576923   1.000000  sector_economico
35          TELECOMUNICACIONES   1.326923   0.019931  sector_economico
36                    TEXTILES   0.923077   0.013865  sector_economico
37                  TRANSPORTE  12.942308   0.194396  sector_economico
38                     TURISMO   8.019231   0.120451  sector_economico
39                   VEHICULOS   2.980769   0.044772  sector_economico
40                VETERINARIAS   1.153846   0.017331  sector_economico

In [ ]:
# keywords = ["Agricultura", 'Ganaderia', 'Tecnologia']
# fechaIni='2019-10-15'
# fechaFin='2020-10-15'
# # data = tends(fechaIni, fechaFin, keywords)

# listword, data = maxTendencia(keywords)

In [8]:
#dataf5 = data4.pivot_table(index=['fh_corte'], columns='banco',values='tendencia').reset_index().rename_axis(None, axis=1)

In [9]:
#dataf5.to_excel('/Users/mb66483/Documents/exportprest.xlsx')